@page "/blazor"

<h3 style="border-bottom: 2px solid black; text-align: center;"> חלקי הפרויקט החדש</h3>
<style>
    body {
        font-family: Arial, sans-serif;
        font-size: 18px;
    }
</style>


<pre style="direction: rtl; unicode-bidi: embed;">


נפרט על החלקים השונים של פרויקט בסיסי ב-Blazor לאחר שנוצר. ההסבר יתמקד במבנה ובתפקיד של כל חלק בפרויקט.
מבנה הפרויקט
<b><u>קובץ _Imports.razor</u></b>

<b>זהו קובץ שמרכז בתוכו את כל ה-directives שאנחנו רוצים שיהיו זמינים בכל רכיבי ה-Razor בפרויקט.</b>
לדוגמה, שימוש ב-  <code> using </code>  להוספת namespaces.
<b><u>קובץ App.razor</u></b>

<b>קובץ זה מגדיר את רכיבי ה-Razor שמוצגים באפליקציה.</b>
<b>הוא מכיל את הRouter שאחראי על הניווט בין הדפים השונים.</b>
<b><u>קובץ MainLayout.razor</u></b>

<b>זהו קובץ שמגדיר את התבנית הבסיסית של הדפים באפליקציה, כמו תפריט הניווט העליון וה-sidebar.</b>
<b>הוא מאפשר לנו ליצור עיצוב אחיד לכל הדפים.</b>
<b><u>קובץ Index.razor</u></b>

<b>זהו דף ברירת המחדל של האפליקציה.</b>
<b>בו נמצא את התוכן הראשוני שמוצג למשתמש.</b>
<b><u>קובץ _Host.cshtml</u></b>

<b>קובץ זה הוא דף ה-HTML שמכיל את רכיב ה-Blazor root.</b>
<b>הוא קובע איך הדף יראה כאשר האפליקציה נטענת לראשונה.</b>
<b><u>תקיות נוספות בפרויקט</u></b>
<b><u>תקיית Pages</u></b>

<b>תקיה זו מכילה את כל רכיבי ה-Razor שמייצגים דפים באפליקציה.</b>
<b>לדוגמה: Index.razor, FetchData.razor וכו'.</b>
<b><u>תקיית Shared</u></b>

<b>תקיה זו מכילה את הרכיבים המשותפים לכל הדפים באפליקציה.</b>
<b>לדוגמה: MainLayout.razor, NavMenu.razor וכו'.</b>
<b><u>תקיית wwwroot</u></b>

<b>תקיה זו מכילה את כל הקבצים הסטטיים של האפליקציה כמו CSS, JavaScript ותמונות.</b>
<b><u>קבצים נוספים</u></b>
<b><u>Program.cs</u></b>

<b>קובץ זה אחראי על ההגדרה הראשונית של האפליקציה, כמו שירותים ו-Dependency Injection.</b>
<b>Startup.cs:</b>
<b>קובץ זה אחראי על הגדרת השירותים השונים של האפליקציה ו-pipeline של בקשות ה-http.</b>
<b>זהו הסבר כללי על מבנה פרויקט Blazor הבסיסי והחלקים השונים שבו.</b>
</pre>
