@page "/html-lesson1"
<<<<<<< HEAD
=======
@namespace ForYod.Components.Pages.HTML_Pages

>>>>>>> 230d044b6afcb745ab8d418295da8c43078c0935

@* הגדרת סגנון לעמוד RTL *@
<style>
    code {
        direction: ltr;
        text-align: left;
        unicode-bidi: embed;
        display: block;
        background-color: #f0f0f0; /* צבע רקע אפור */
        padding: 10px; /* מוסיף קצת רווח פנימי */
        border-radius: 5px; /* פינות מעוגלות */
    }

    pre {
        direction: rtl;
        text-align: right;
        unicode-bidi: embed;
    }
</style>

<<<<<<< HEAD
<h1 style="border-bottom: 2px solid black; text-align: center;">תרגול איך ליצור את דף ה -HTML הראשון שלכם באמצעות Notepad</h1>
=======

<h1 style="border-bottom: 2px solid black; text-align: center;">תרגול   איך ליצור את דף ה -HTML הראשון שלכם באמצעות Notepad</h1>
>>>>>>> 230d044b6afcb745ab8d418295da8c43078c0935
<br />
<br />
<br />
<br />
<h4>שלב 1: פתיחת Notepad</h4>
<ol>
    <li>לחצו על תפריט ההתחלה של Windows.</li>
    <li>הקלידו "Notepad" ולחצו Enter לפתיחת התוכנה.</li>
</ol>

<h4>שלב 2: כתיבת קוד ה-HTML</h4>
<ol>
    <li>
        העתיקו והדביקו את הקוד הבא ל-Notepad:
        <pre>
        <code>
        &lt;!DOCTYPE html&gt;
        &lt;html&gt;
        &lt;head&gt;
            &lt;title&gt;הדף הראשון שלי&lt;/title&gt;
        &lt;/head&gt;
        &lt;body&gt;
<<<<<<< HEAD
            &lt;h1&gt;ברוכים הבאים לדף הראשון שלי!&lt;/h1&gt;
=======
            &lt;h1&gt;ברוכים הבאים לדף  הראשון שלי!&lt;/h1&gt;
>>>>>>> 230d044b6afcb745ab8d418295da8c43078c0935
            &lt;p&gt;זוהי פסקה.&lt;/p&gt;
        &lt;/body&gt;
        &lt;/html&gt;
        </code>
        </pre>
    </li>
</ol>

<h4>שלב 3: שמירת הקובץ</h4>
<ol>
    <li>לחצו על "File" בתפריט העליון ובחרו "Save As".</li>
    <li>בחרו את המיקום שבו תרצו לשמור את הקובץ (למשל, שולחן העבודה).</li>
    <li>בשדה "File name" הקלידו את שם הקובץ עם סיומת <code>.html</code>, לדוגמה <code>index.html</code>.</li>
    <li>בשדה "Save as type" בחרו "All Files".</li>
    <li>לחצו "Save".</li>
</ol>

<h4>שלב 4: פתיחת הדף בדפדפן</h4>
<ol>
    <li>גשו למיקום שבו שמרתם את הקובץ (למשל, שולחן העבודה).</li>
    <li>לחצו פעמיים על הקובץ <code>index.html</code>.</li>
    <li>הדפדפן שלכם ייפתח ויציג את דף ה-HTML שיצרתם.</li>
</ol>

<<<<<<< HEAD
=======
 


>>>>>>> 230d044b6afcb745ab8d418295da8c43078c0935
<p>כעת, יש לכם דף HTML בסיסי שמוצג בדפדפן. תוכלו לערוך את הקובץ ולהוסיף תוכן נוסף לפי הצורך.</p>

<pre>לאחר שהצלחתם לבנות את הדף והרצתם אותו ניתן לעבור לשיעור הבא <br />
    לעזרה נוספת צפו בסרטו מטה</pre>
<<<<<<< HEAD
<br />
<br />
<br />
<br />
<h4>הסבר על יצירת דף ראשון</h4>
<div style="position: relative; padding-bottom: 56.25%; height: 0;">
    <iframe src="https://www.loom.com/embed/ab535fcd92a94fc89e0ce5ed55ace701?sid=a2c69222-b285-4b83-b0e3-6e49e8db5806"
            frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
</div>
=======
    <br />
    <br />
    <br />
    <br />
    <h4>הסבר על יצירת דף ראשון  </h4>
<div style="position: relative; padding-bottom: 56.25%; height: 0;">
    <iframe src="https://www.loom.com/embed/ab535fcd92a94fc89e0ce5ed55ace701?sid=a2c69222-b285-4b83-b0e3-6e49e8db5806"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0;
left: 0; width: 100%; height: 100%;"></iframe></div>






>>>>>>> 230d044b6afcb745ab8d418295da8c43078c0935
