@page "/my-first-blazor"
@namespace ForYod.Components.Pages.HTML_Pages

<h3 style="border-bottom: 2px solid black; text-align: center;"> My First Blazor</h3>
<style>
    body {
        font-family: Arial, sans-serif ;
        font-size: 18px;
    }
</style>
<h2> יצירת פרויקט בלייזר שאיתו נעבוד</h2>
<br/>
<br/>
<h4> שלב 1</h4>
<pre style="direction: rtl; unicode-bidi: embed;">
    פתח את Visual Studio.
    לחץ על Create a new project.
    בחלון Create a new project, חפש את התבנית Blazor Web App.
    בחר בתבנית ולחץ על Next.
</pre>

<h4> שלב 2</h4>
<pre style="direction: rtl; unicode-bidi: embed;">

    בחלון Configure your new project, הזן את שם הפרויקט, מיקום הפרויקט, ואת השם של ה-solution.
    לחץ על Create.


</pre>

<h4> שלב 3</h4>
<pre style="direction: rtl; unicode-bidi: embed;">

    לאחר שהפרויקט ירוץ, הדפדפן ייפתח ויציג את האתר הראשון שלך.
    הדף הראשי אמור להיטען ולהראות את התבנית הבסיסית של Blazor עם דוגמאות שונות של רכיבי UI.
    זהו! כעת יש לך פרויקט Blazor Web App רץ ב-Visual Studio.



</pre>

<h3 style="border-bottom: 2px solid black; text-align: center;"> הסבר וידאו לפרויקט בלייזר הראשון</h3>
<br />
<br />
<div style="position: relative; padding-bottom: 56.25%; height: 0;">
    <iframe src="https://www.loom.com/embed/ab535fcd92a94fc89e0ce5ed55ace701?sid=01fa5b24-95af-47b5-8df1-688fb14a3d0b"
    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
@code {

}
