@page "/add_user-Table"
@namespace ForYod.Components.Pages.SQLite_DB

@* הגדרת סגנון לעמוד RTL *@
<style>
     code {
         direction: ltr;
         text-align: left;
         unicode-bidi: embed;
         display: block;
         background-color: #f0f0f0; /* צבע רקע אפור */
         padding: 10px; /* מוסיף קצת רווח פנימי */
         border-radius: 5px; /* פינות מעוגלות */
     }

     pre {
         direction: rtl;
         text-align: right;
         unicode-bidi: embed;
     }
</style>
    

<h1>הוספת טבלת משתמשים לבסיס הנתונים</h1>
<h4>שלב 1 - הוספת טבלה על פי ההנחיות </h4>
<pre>
לחץ על הכרטיסייה Structure.
לחץ על Create Table.
בחלון שנפתח, הזן שם לטבלה (למשל, users).
הוסף עמודות לטבלה 
</pre>

<h4>הוספת מחלקת Users</h4>
<pre>
הוספת מחלקה על פי ההנחיות
</pre>
